body{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	background: #fff;
	font-size: 14px;
	line-height: 1.3;
}
.container{
	min-width: 300px;
	max-width: 11704px;s
	margin: 0 auto;
}
.header{
    height: 80px;
    background: url(../img/head-background.jpg) ;
    padding: 0 0 0 15px;
}
.header-top{
    position: relative;
}
.logo{
		display: inline-block;
    float: left;
}
.logo a{
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
}
.logo a>span{
	font-size: 25px;
	text-transform: none;
	font-weight: 400;
}
.menu-btn{
    width: 70px;
    height: 70px;
    float: right;
    background: #1ac7c3;
    position: relative;
    cursor: pointer;
}
.menu-btn span{
    width: 18px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -9px;
}
.menu-btn span::before,.menu-btn span::after{
    content: "";
    width: 18px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: transform 1s;
}
.menu-btn span::before{
    top: -5px;
}
.menu-btn span::after{
    bottom: -5px;
}
.menu-btn.is-active span{
    background: transparent;
}
.menu-btn.is-active span::before{
    transform: rotate(45deg);
    top: 0;
}
.menu-btn.is-active span::after{
    transform: rotate(-45deg);
    bottom: 0;
}
.menu{
    display: none;
    width: 200px;
    background: #1ac7c3;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 11111;
}
.menu ul{
    margin: 0;
    padding: 3px 15px;
    list-style: none;
}
.menu a{
    display: block;
    padding: 13px 0px 13px 9px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.7);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.menu li:last-child a{
    border: none;
}
/*end header*/
.slider-1 img, .slider-2 img{
	width: 100%;
	height: auto;	
}
.slick-slide{
/*	outline: none;*/
	position: relative;
}
.slider-1 .inner{
	margin: 0 5px;
}
.slide-info {
    width: 60%;
    padding: 5px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -128px;
    top: 14.9%;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
}
.slider-1 .slick-arrow{
	position: absolute;
	height: 72px;
	width: 35px;
	border: none;
	top: 42.3%;
	z-index: 100;
	font-size: 0;
}
.slider-1 .slick-arrow::before{
	content: "";
	width: 72px;
	height: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
}
.slider-block{
	padding: 0 0 0 0;
}
.slick-prev {
    left: 19.7%;
    background: url(../img/buttons.png)0 0 no-repeat;
}
.slick-next {
   left: 23%;
    background: url(../img/buttons.png)-12px -77px no-repeat;
}
.slick-dots{
	position: absolute;
	width: 100%;
    bottom: 31%;
    left: -22.3%;
	text-align: right;
	padding: 0 40px 0 0;
}
.slick-dots li{
	display: block;
	margin: 0 3px;
}
.slick-dots button{
	background: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 0;
	width: 12px;
	height: 12px;
	line-height: 0;
	padding: 0;
	margin: 0;
	background: #fff;
}
.slick-dots li.slick-active button{
	background: none;
	border: 3px solid #fff;
	width: 14px;
	height: 14px;
}
.slide-info p{
	display: inline-block;
	font-size: 20px;
	color: #fff;
	background: #e2534b;
	padding: 5px;
	margin: 0 0 2% 13%;
	text-transform: uppercase;
	word-spacing: 1px;
  letter-spacing: 2px;
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
}
.slide-info>span{
	display: block;
	font-size:15px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
/*end slider*/
.content{
	background: #f3f3f3;
	padding: 30px 0 0 0;
}
.service{
	background: #ececec;
	padding: 10px 20px 10px 20px;
	margin: 0 0 50px 0;
}
.service p{
	font-size: 20px;
	color: #7f8c8c;
	font-weight: 600;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
}
.service span{
	display: block;
	font-size: 12px;
	color: #777777;
	font-weight: 400;
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
}
.view-m{
	width: 30%;
	display: block;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	font-size: 16px;
	color: #fff;
	background: #e8645a;
	border-bottom: 4px solid #e2534b;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
}
.services-bl{
	min-height: 315px;
	border-bottom: 4px solid #e5e6e6;
	border-radius: 4px;
	width: 90%;
	padding: 48px 20px 0 20px;
	margin: 0 auto 20% auto;
	position: relative;
	background: #f8f8f8;
}
.icons-serv{
	padding: 0;
	margin: 0 33% 0 33%;
}
.icons-serv a{
	display: inline-block;
	padding: 70px 0 0 0;
	margin: 0 0 36px 0;
	font-size: 16px;
	color: #7f8c8c;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}
.icon1{
	background: url(../img/icons.png) 27px 1px no-repeat;
}
.icon2{
	background: url(../img/icons.png)  -289px 0px no-repeat;
}
.icon3{
	background: url(../img/icons.png) -582px 0px no-repeat;
}
.icon4{
	background: url(../img/icons.png) -879px 0px no-repeat;
}
.services-bl p{
	font-size: 13px;
	color: #777;
	font-weight: 400;
	text-align: center;
}
.read-m{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	background: #76c7c0;
	border-bottom: 4px solid #62b9b0;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 600;
	padding: 18px 60px 18px 60px;
	margin: 0 0 0 0;
	position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -100px;
}
.whymodus-block{
	background: #ececec;
	padding: 0 10px 80px 10px;
	margin: 0 0 0 0;
}
.line{
	background: url(../img/content-background.jpg);
	display: inline-block;
	width: 100%;
	height: 17px;
	margin: 0;
	padding: 0;
}
.whymodus-block h3{
	font-size: 30px;
	color: #e1524b;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 0 0 0;
  margin: 0 0 30px 0;
  text-align: center;
}
.choose-us{
	padding: 0 20px 0 20px;
	margin: 0 0 30px 0;
}
.choose-us h5{
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #7f8c8c;
	font-weight: 800;
}
.choose-us ul{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.choose-us li{
	font-size: 13px;
	color: #777;
	font-weight: 400;
	list-style: none;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
	background: url(../img/red-arrow.png)0 4px no-repeat;
}
.about-proj{
	padding: 0 20px 0 20px;
	margin: 0 0 30px 0;
}
.about-proj h5{
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #7f8c8c;
	font-weight: 800;
}
.about-proj p{
	font-size: 13px;
	color: #777;
	font-weight: 400;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.about-proj p>a{
	color: #e1524b;
}
.clients-say{
	padding: 0 20px 0 20px;
	margin: 0 0 30px 0;
}
.clients-say h5{
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #7f8c8c;
	font-weight: 800;
}
.clients-say div{
	background: #fff;
	border-radius: 4px;
	padding: 5px 10px;
	position: relative;
	margin: 0 0 6px 0;
	font-size: 13px;
	color: #777;
	font-weight: 400i;
	font-style: italic;
}
.triangle {
    position: absolute;
    bottom: -25px;
    left: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 25px 26px 0px;
    border-color: transparent #fff transparent transparent;
}
.clients-say p{
	font-size: 16px;
	color: #777;
	font-weight: 600;
  padding: 0 0 0 0;
  margin: 0 0 0 60px;
  font-weight: 400;
}